<div class="login-main mb-5 row">
  <div class="col-lg-6 text-center">

    <!-- Login Form -->
    <div class="login-container">
      <h2 class="text-light">Login</h2>
      <form class="form login-form" id="loginForm">
        <div class="mb-3">
          <input class="form-control" type="text" id="email-login" placeholder="Email" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="password" id="password-login" placeholder="Password" />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="pt-3 d-flex align-items-center justify-content-center">
          <div class="spinner" id="login-spinner"></div>
        </div>
        <div class="error-message" id="login-error-message"></div>
      </form>
    </div>
    
    <!-- Signup Form -->
    <div class="signup-container mt-3">
      <h2 class="text-light">Sign Up</h2>
      <form class="form signup-form" id="signupForm">
        <div class="mb-3">
          <input class="form-control" type="text" id="name-signup" placeholder="Name" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="text" id="email-signup" placeholder="Email" />
        </div>
        <div class="mb-3">
          <input class="form-control" type="password" id="password-signup"
            placeholder="Password (minimum 8 characters)" />
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
        <div class="pt-3 d-flex align-items-center justify-content-center">
          <div class="spinner" id="signup-spinner"></div>
        </div>
        <div class="error-message" id="signup-error-message"></div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>