<div class="login-main row-fluid">
  <div class="login col-lg-7 text-center">
    <h2 class="text-light">Login</h2>
    <form class="form login-form" id="loginForm">
      <div class="form-group">
        <input class="form-input" type="text" id="email-login" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-login" placeholder="Password" />
      </div>
      <div class="form-group form-group-last">
        <button class="btn btn-primary" type="submit">Login</button>
        <div class="pt-3 d-flex align-tiems-center justify-content-center">
          <div class="spinner" id="login-spinner"></div>
        </div>
        <div class="error-message" id="login-error-message"></div>
      </div>
    </form>
  </div>
  <div class="signup col-lg-7 text-center">
    <h2 class="text-light">Sign Up</h2>
    <form class="form signup-form" id="signupForm">
      <div class="form-group">
        <input class="form-input" type="text" id="name-signup" placeholder="Name" />
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="email-signup" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-signup" placeholder="Password (minimum 8 characters)" />
      </div>
      <div class="form-group form-group-last">
        <button class="btn btn-primary" type="submit">Sign Up</button>
        <div class="pt-3 d-flex align-tiems-center justify-content-center">
          <div class="spinner" id="signup-spinner"></div>
        </div>
        <div class="error-message" id="signup-error-message"></div>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>