* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../images/tech3.jpg");
  background-size: cover;
}

h1, h2 {
  color: #f8f9fa;
  margin-bottom: 24px;
}

/* Posts styling */
.custom-card-body {
  height: 150px;
}

.custom-card-body:hover {
  background-color: #e9ecef; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Login page styling */
.login-main {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background-color: #f8f9fa;
  border: none;
  padding: 0.75vh;
  width: 250px;
}

.row-fluid {
  flex-wrap: wrap;
}

/* Footer styling */
.footer {
  padding: 0px;
  margin: 2px;
}

.custom-card-light {
  background-color: #f8f9fa;
  padding: 1.25em 1.25em 0.25em 1.25em;
  border-radius: 25px;
  color: #000000;
  margin-bottom: 1.5em;
}

.custom-card-dark {
  background-color: #000000;
  padding: 1.25em 1.25em 0.25em 1.25em;
  border-radius: 25px;
  color: #f8f9fa;
  margin-bottom: 1.5em;
}

label {
  color: #f8f9fa;
}