body {
  background-image: url("../images/tech3.jpg");
  background-size: cover;
}

h1, h2 {
  color: #f9fbfd;
  margin-bottom: 24px;
}

/* Posts styling */
.custom-card-body {
  height: 150px;
}

.custom-card-body:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

/* Login page styling */
.login-main {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background-color: #f5f5f5;
  border: none;
  padding: 0.75vh;
  width: 250px;
}

.row-fluid {
  flex-wrap: wrap;
}